body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Lato';
}

.bg {
    background: linear-gradient(180deg, rgb(70.13, 99.71, 255) 42.71%, rgba(0, 38.93, 243.31, 0.17)100%); 
    width: 100vw;
    height: 100vh;
}

.sun {
    position: absolute;
    height: 20vh;
    width: 20vh;
    background: linear-gradient(180deg, rgb(247.56, 121.47, 50.54) 0%, rgb(255, 211.27, 98.81) 100%);
    border-radius: 96.5px/93.5px;
    right: -4vh;
    top: -5vh;
}

#loc {
    position: absolute;
    top: 8vh;
    left: 5vh;
    font-size: 24px;
}

#tem {
    position: absolute;
    top: 8vh;
    right: 5vh;
    font-size: 60px;
}

#CurDate {
    position: absolute;
    top: 18vh;
    left: 5vh;
}

#NextDays {
    position: absolute;
    top: 18vh;
    right: 5vh;
}

.table-container {
    position: absolute;
    top: 21vh;
    right: 5vh;
    left: 5vh; /* to balance the left and right margin/padding */
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: auto;
}

td {
    border: 1px solid #e0e0e0;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    min-width: 20vw;
}

tr:nth-child(1) td {
    padding-bottom: 20px;
}

tr:nth-child(2) td {
    padding-top: 20px;
    padding-bottom: 10px;
}

tr:nth-child(3) td {
    padding-top: 10px;
}

img {
    max-width: 100%;
    height: auto;
    position: static; /* to overwrite the absolute position defined in your original CSS */
}

.Module2 {
    position: absolute;
    top: 60vh;
    left: 5vh;
}

.Module3 {
    position: absolute;
    top: 60vh;
    right: 5vh;
}

.Module4 {
    position: absolute;
    top: 75vh;
    left: 5vh;
}
