body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Lato'; 
    overflow: hidden;
}

.bg {
    background: linear-gradient(180deg, rgb(70.13, 99.71, 255) 42.71%, rgba(0, 38.93, 243.31, 0.17)100%); 
    width: 100vw;
    height: 2556px;
    overflow: hidden;
    position: fixed;
}

.sun {
    position: absolute;
    height: 20vh;
    width: 20vh;
    background: linear-gradient(180deg, rgb(247.56, 121.47, 50.54) 0%, rgb(255, 211.27, 98.81) 100%);
    border-radius: 96.5px/93.5px;
    right: -4vh;
    top: -5vh;
}

#loc {
    position: absolute;
    top: 8vh;
    left: 5vh;
    font-size: 24px;
    font-weight:bolder;
    text-shadow: 0px 4px 4px #00000040;
}

#tem {
    position: absolute;
    top: 8vh;
    right: 5vh;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 0px 4px 4px #00000040;
}

#CurDate {
    position: absolute;
    top: 18vh;
    left: 5vh;
    font-size: large;
    text-shadow: 0px 4px 4px #00000040;
}

#NextDays {
    position: absolute;
    top: 18vh;
    right: 5vh;
    font-size: large;
    text-shadow: 0px 4px 4px #00000040;
}

.Module1 {
    position: absolute;
    top: 21vh;
    right: 5vh;
    left: 5vh;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: rgba(255, 255, 255, 0.345);
    border-radius: 18px;
    box-shadow: inset 0px -6px 8px #41414140, 0px, 4px, 4px #00000040;
}

.Module1::-webkit-scrollbar {
    display: none; 
}

table {
    border-collapse: collapse;
    width: auto;
}

td {
    border: none;
    text-align: center;
    vertical-align: middle;
    padding: 1px;
    min-width: 20vw;
}

tr:nth-child(1) td {
    padding-top: 15px;
    padding-bottom: 15px;
}

tr:nth-child(2) td {
    padding-top: 3px;
    padding-bottom: 2px;
}

tr:nth-child(3) td {
    padding-top: 4px;
    padding-bottom: 15px;
}

img {
    max-width:40%;
    height: auto;
    position: static;
}

.Module2 {
    position: absolute;
    top: 40vh;
    right: 5vh;
    left: 5vh; 
    background-color: rgba(255, 255, 255, 0.355);
    border-radius: 18px;
    padding-left: 18px;
    padding-bottom: 15px;
    padding-top: 15px;
}

#TitlenMark {
    display: flex;       
    align-items: center;

}

#Emphasize {
    font-size: 24px;
    font-size: 30px;
    color: #8964e6; 
    font-weight: bold;
    padding-left: 15px;
}

#Etitle {
    padding-left: 15px;
    font-size: larger;
    font-weight: bold;
}

#RemindContent {
    align-self: flex-start; 
    margin-left: 10px;
    padding-left:30px;
}

.Module3 {
    position: absolute;
    top: 56vh;
    right: 5vh;
    left: 5vh; 
    background-color: rgba(255, 255, 255, 0.355);
    border-radius: 18px;
    padding-left: 18px;
    padding-right: 58px;
    padding-bottom: 15px;
    padding-top: 15px;
}

ul {
    list-style-type:none;
}

.Module3 li {
    display: flex;
    justify-content: space-between;
}

.Module3 li span:first-child {
    width: 50%;
}

.Module3 li span:last-child {
    width: 45%;
    text-align: right;
}


.Module4 {
    position: absolute;
    top: 83vh;
    right: 5vh;
    left: 5vh; 
    background-color: rgba(255, 255, 255, 0.355);
    border-radius: 18px;
    padding-left: 18px;
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center; 
}


#SunTime {
    width: 20vh;
    height: auto;
}



.Module4 > span:nth-child(2) {
    order: 1;
}

.Module4 > span:nth-child(3) {
    order: 3;
}

/* #SunTime {
    order: 2;
} */

